a{
  color: inherit;
}

a:hover{
  text-decoration: none;
}

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
  /* background-image: url(./images/STL_BG2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat; */
}
  
.card{
  display: block;
  text-align: center;
  width: 20em;
  height: 30em;
  background-color: #FFF;
  margin-top: 2em;
  /* margin-left: 1em; */
  background-image: linear-gradient(to bottom, #098CC5, #098CC5, 8em, transparent 8em, transparent 100%);
}

@media only screen and (max-width: 767px) {
  
  .card {
      width: 100%;
  }
}

.codeIcon{
  margin-top: -0.3em;
  font-size: 2em;
  }

.codeSmallText{
  margin-top: 0.4em;
  margin-bottom: 1.05em;
  font-size: 0.8em;
  text-align: center;
  font-family: cursive;
}

.gitIcon{
  margin-top: 0.3em;
  font-size: 3em;
  }

.infoIcon{
  display: block;
  text-align: center;
  cursor: pointer;
  color: #545E99;
}

.infoIcon:hover{
  color: #2B844F;
}

.panelText{
  text-align: center;
  font-size: 0.8em;
  padding: 4px;
}

.profileImage{
  display: block;
  position: relative;
  height: 10em;
  width: 10em;
  /*padding-top: 5em;*/
  margin: auto;
  margin-top: 3em;
  border: 6px solid white;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #098CC5
}

.primaryUserInfo{
  font-size: 1.8em;
  font-weight: bold;
}

.secondaryUserInfo{
  font-size: 1em;
  color: rgb(177, 174, 174);
}

.smallText{
  margin-top: 0.4em;
  font-size: 0.8em;
  text-align: center;
  font-family: cursive;
}

.staticIcon{
  color: #545E99;
  text-align: center;
  font-size: 1.3em;
  cursor: pointer;
  margin-top: 0.7em;
  }

.staticIcon:hover{
  color: #64C2EC;
}

.staticIconContainer{
  position: absolute;
  bottom: 3px;
}
.userInfo{
  text-align: center;
  margin-top: .5em;
}