body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(./images/STL_BG2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.test{
  
}

i{
  text-align: center;
  font-size: 2em;
  cursor: pointer;
  }

i:hover{
  color: #64C2EC;
}
.card{
  width: 20em;
  height: 30em;
  background-color: #FFF;
  margin-top: 7em;
  /* margin-left: 1em; */
  background-image: linear-gradient(to bottom, #64C2EC, #64C2EC, 8em, transparent 8em, transparent 100%);
}

.profileImage{
  height: 10em;
  width: 10em;
  /*padding-top: 5em;*/
  margin-top: 3em;
  margin-left: 5em;
  border: 6px solid white;
  border-radius: 50%;
}

.primaryUserInfo{
  font-size: 2em;
}

.secondaryUserInfo{
  font-size: 1em;
}

.userInfo{
  text-align: center;
  margin-top: .5em;
}

